.cat-box {
  padding: 10px;
  border-radius: 10%;
  margin: 1rem;
  box-shadow: none;
  background-color: rgb(230, 230, 222);
  border: 1px solid rgba(0, 0, 0, 0.4);
  transition: all 0.2s;
}

.cat-box:hover {
  transform: scale(1.1);
}

.name-cat {
  margin: 0.5rem;
  color: rgb(214, 87, 155);
  text-transform: uppercase;
}
