.board-ToDo {
  background-color: rgb(245, 192, 210);
  width: 70rem;
  border-radius: 10px;
  text-align: center;
  padding: 2rem;
}

.box-tasks {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}

.addTask {
  text-align: left;
  margin-top: 1rem;
  font-size: 0.9rem;
}
