.addTask {
  text-align: left;
  margin-top: 1rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.modal-header {
  display: block;
  text-align: center;
}
.modal {
}
.form-task {
  height: auto;
  width: auto;
  text-align: right;
}

.form-group {
  width: 21rem;
}

.input-text {
  text-align: right;
}

.modal-flooter {
  text-align: center;
  border-top: none;
}
.btn {
  width: 10rem;
}
