.board-Done {
  background-color: rgba(146, 221, 186, 0.986);
  width: 70rem;
  border-radius: 10px;
  text-align: center;
}

.box-tasks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
}
